@model IEnumerable<StoreFront.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Products";
}



<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Your Financial Journey Starts Here</p>
                    <h1 class="pb-2">Products</h1>
                    <a asp-action="TableView" class="cart-btn"><i class="fas"></i> Table View</a>
                    <p class="pt-4 text-center" align="center">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="bordered-btn" asp-action="Create">Add Product</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<<div class="product-section mt-150 mb-150">
    <div class="container">


        <div class="row product-lists">

            @foreach (var item in Model)
            {


                <div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a asp-action="Details" asp-route-id="@item.ProductId"><img src="~/Images/@item.ProductImage" alt="@item.Description"></a>
                        </div>
                        @{
                            if (item.Discontinued != false)
                            {
                                <h3 style="color:red;">@item.ProductName<br />Item Discontinued</h3>

                            }
                            else
                            {
                                <h3>@item.ProductName</h3>

                            }
                        }
                        <p class="product-price">@Html.DisplayFor(model => item.Price)</p>
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <a asp-route-id="@item.ProductId" class="cart-btn" asp-action="Edit">Edit</a>
                                <a asp-route-id="@item.ProductId" class="cart-btn" asp-action="Delete">Delete</a>
                            }
                        }
                        <a href="@Url.Action("Cart","Home")" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }
        </div>


    </div>
</div>
<!-- end products -->
@*



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.CampusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOnline)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
*@